<!DOCTYPE html>
<html>

<head>
    <title>Gerenciamento de Funcionários</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" href="styleIndex.css">
</head>

<body>
    <header>
        <h1>Gerenciamento de Funcionários</h1>
    </header>

    <!--Escolha de modo claro ou escuro - será implementado
        posteriormente com o uso de cookies-->
    <form class="form">
        <select name="estilo">
            <option value="">Escolha seu tema</option>
            <option value="claro">Modo Claro</option>
            <option value="escuro">Modo Escuro</option>
        </select>
        <input type="submit" value="Aplicar">
    </form>

    <div class="botoes">
        <a href="cadastrarView.html"><button>Cadastrar Funcionário</button></a>
        <a href="listarView.html"><button>Ver Funcionários</button></a>
    </div>
</body>

</html>