<!DOCTYPE html>
<html>

<head xmlns="w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <title>Listagem de Funcionários</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" th:href="@{/css/styleListarView.css}">
</head>

<body>
    <header>
        <h2>LISTAGEM DE FUNCIONÁRIOS</h2>
    </header>

    <a th:href="@{/}"><button type="button" id="btnVoltar">Voltar</button></a>

    <div class="tabela">
        <table class="table" id="tabela1">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Nome</th>
                    <th>CPF</th>
                    <th>E-mail</th>
                    <th>Telefone</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="f : ${funcionarios}">
                    <td th:text="${f.id}"></td>
                    <td th:text="${f.nome}"></td>
                    <td th:text="${f.cpf}"></td>
                    <td th:text="${f.email}"></td>
                    <td th:text="${f.telefone}"></td>
                    <td>
                        <div id="botoes">
                            <a th:href="@{'/detalhes?id=' + ${f.id}}"><button type="button" class="btn btn-primary" id="btnVer" title="Ver detalhes"><img th:src="@{/imagens/olho.png}" alt="ver" /></button></a>
                            <a th:href="@{'/alterar?id=' + ${f.id}}"><button type="button" class="btn btn-secondary" title="Editar"><img th:src="@{/imagens/lapis.png}" alt="editar" /></button></a>
                            <a th:href="@{'/deletarFuncionario?id=' + ${f.id}}"><button type="button" class="btn btn-danger" title="Excluir"><img th:src="@{/imagens/lixo.png}" alt="excluir" /></button></a>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</body>

</html>